<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <script src="/runtime-configuration.js" type="text/javascript"></script>
</head>

<body>
  <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
</body>

</html>